@import url('../shared/shared.css');

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    width: 1280px;
    margin: 0 auto;
}

.content {
    box-sizing: border-box;
    width: 1200px;
    margin: 80px auto 100px auto;
    text-align: center;
}
/* 
===================================
              header
===================================
 */
header {
    position: sticky;
    top: 0px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 1280px;
    height: 120px;
    margin: 0 auto;
    background: #FFFFFF;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 60px;
}

.logo-link-to-main-page {
    text-decoration: none;
}
.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.logo > h1 {
    color: #545454;
    margin: 0;
}

.logo-subtitle {
    margin: 0;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.1em;
    color: #292929;
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    column-gap: 35px;
}

header a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    text-decoration: none;
    color: #545454;
}

.link-active {
    color: #292929;
    border-bottom: solid 3px #F1CDB3; 
}

.link-active:hover {
    cursor: default;
}

.link-active > p,
.link-about-the-shelter > p,
.link-help-the-shelter > p,
.link-contacts > p {
    margin: 0;
}

.link-about-the-shelter:hover,
.link-help-the-shelter:hover,
.link-contacts:hover {
    color: #292929;
    border-bottom: solid 3px #F1CDB3; 
}
/* 
=============================
        section our-pets
=============================
 */
 .our-pets {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1280px;
    margin: 0 auto;
}

.background-our-pets {
    background: #F6F6F6;
}

.content-our-pets {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1200px;
    row-gap: 45px;
}

.our-pets h3 {
    margin: 0;
    justify-self: center;
    width: 400px;
    height: 90px;
    line-height: 130%;
}

.cards-of-pets-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    width: 1200px;
    height: 930px;
}

.pet-card {
    padding-bottom: 30px;
    box-sizing: border-box;
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    border-radius: 9px;
}

.pet-card:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}

.pet-card:hover > .button-secondary {
    background-color: #FDDCC4;
}

.pet-card__container-for-pet-image {
    position: relative;
    width: 270px;
    height: 270px;
    border-radius: 9px 9px 0px 0px;
    overflow: hidden;
}

.pet-card > p {
    margin: 30px 0;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
}

.sophia-dog {
    position: absolute;
    top: -30px;
    left: -80px;
}

.block-of-button-paginator {
    justify-self: center;
    display: flex;    
    justify-content: center;
    column-gap: 20px;
}

.paginator-left:hover,
.button-with-page-number:hover {
    cursor: default;
}

.block-of-button-paginator h4 {
    margin: 0;
}

.block-of-button-paginator > button:nth-child(1),
.block-of-button-paginator > button:nth-child(2) {
    color: #CDCDCD;
}

.block-of-button-paginator > button:nth-child(3) {
    background-color: #F1CDB3;
    border: none;
}

.block-of-button-paginator > button:nth-child(4),
.block-of-button-paginator > button:nth-child(5) {
    border-color: #F1CDB3;
}

.button-paginator > span {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}
/* 
=============================
            footer
=============================
 */
 footer {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 1280px;
}

.background-footer {
    background: url("../../assets/images/noise-lines.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer-content {
    display: flex;
    justify-content: center;
    column-gap: 160px;
    margin: 40px auto 0;
}

#contacts,
.location {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 16px 0 60px 0;
    box-sizing: border-box;
    text-align: left;
}

footer h3 {
    margin: 0;
    line-height: 1.3;
    letter-spacing: 0.05em;
    text-align: left;
    color: #FFFFFF;
}

footer h4 {
    margin: 0;
    color: #F1CDB3;
}

.email,
.phone {
    display: block;
}

.email > *,
.phone > *,
.place-of-location > * {
    display: inline-block;
    vertical-align: middle;
}

.icon-email,
.icon-phone,
.marker-of-location {
    margin: 0 20px 0 0;
}