:root {
    --width-section-above-1280px: 1280px;
    --width-section-768px-1280px: 768px;
    --width-section-320px-768px: 320px;
    --width-sub-section-above-1280px: 1200px;
    --width-sub-section-768px-1280px: 708px;
    --width-sub-section-320px-768px: 300px;

    --mobile-gap-within-sections: 42px;

    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;
    --color-light-xl: #FFFFFF;
    --color-dark-l: #545454;
    --color-dark-m: #B2B2B2;
    --color-dark-s: #CDCDCD;
    --color-dark-xl: #4C4C4C;
    --color-dark-3xl: #292929;
    --color-burger-menu: #000000;
    
    --foto-width-320px-768px: 260px;

    --font-family-for-titles: 'Georgia', 'Times New Roman', 'Times', serif;
    --font-family-for-paragraph: 'Arial', 'Helvetica', sans-serif;
    --desktop-h3-font-size: 35px;
    --mobile-h3-font-size: 25px;
    --font-size-h5: 15px;
}

h1 {
    font-family: var( --font-family-for-titles );
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.06em;
}

h2 {
    font-family: var( --font-family-for-titles );
    font-size: 44px;
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
    letter-spacing: 0.06em;
}

h3 {
    font-family: var( --font-family-for-titles );
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var( --color-dark-l );
}

h4,
.text-like-h4-title {
    font-family: var( --font-family-for-titles );
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: 0.06em;
}

h5 {
    font-family: var( --font-family-for-titles );
    font-size: var( --font-size-h5 );
    font-weight: 400;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.06em;
    color: var( --color-dark-l );
}

p {
    margin: 0;
    font-family: var( --font-family-for-paragraph );
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
}

a {
    font-family: var( --font-family-for-paragraph );
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

button,
.button {
    padding: 0;
    font-family: var( --font-family-for-titles );
    cursor: pointer;
    transition: 100ms;
    -webkit-tap-highlight-color: transparent;
}

.button-primary {
    box-sizing: border-box;
    height: 52px;
    background: var( --color-primary );
    border-radius: 100px;
    border: none;
}

.button-secondary {
    width: 187px;
    height: 52px;
    border: 2px solid var( --color-primary );
    border-radius: 100px;
    background-color: transparent;
}

.button-primary:hover,
.button-secondary:hover,
.right-arrow:hover,
.right-double-arrow:hover,
.button-arrow:hover,
.link-credit-card:hover {
    background-color: var( --color-primary-light );
    border: none;
}

.button-primary:active,
.button-secondary:active {
    background: linear-gradient( to top, var( --color-primary-light ), 80%, #FFF3EA );
}

.button-primary > span,
.button-secondary > span {
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    color: #292929;
    letter-spacing: 0.06em;
}

.button-paginator {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid var( --color-dark-s );
    border-radius: 26px;
    background-color: transparent;
}

.right-arrow:active,
.right-double-arrow:active,
.button-arrow:active {
    background: linear-gradient( to right, #FDDCC4, 80%, #FFE9D8 );
}

.left-arrow:active {
    background: linear-gradient( to left, var( --color-primary-light ), 50%, #FFE9D8 );
}

.button-paginator > span {
    font-size: 17px;
    color: var( --color-dark-3xl );
}
/* 
=============================
        popup-menu
=============================
 */
.popup-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* outline: solid 5px blue; */
}

@supports (( -webkit-backdrop-filter: none ) or ( backdrop-filter: none )) {
    .popup-menu {
        background: #29292995;
        backdrop-filter: blur( 15px ) saturate( 150% );
    }
}

.popup-menu * {
    /* outline: solid 1px red; */
}

.popup-menu__content {
    position: relative;
    z-index: 100000;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    align-self: center;
    background-color: var( --color-light-s );
    border-radius: 9px;
}

.popup-menu__content_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.popup-menu__content_text-pet-name,
.popup-menu__content_text-description {
    color: var( --color-burger-menu );
}
 
.popup-menu__image {
    align-self: stretch;
    border-radius: 9px 0 0 9px;
    background-color: black;
}

.popup-menu__nav > ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 14px;
    list-style-type: none;
}

.popup-menu__nav > ul > li {
    position: relative;
    font-family: var( --font-family-for-titles );
    font-size: var( --font-size-h5 );
    font-weight: 400;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.06em;
    color: var( --color-burger-menu );
}

.popup-menu__nav > ul > li:before {
    position: absolute;
    left: -14px;
    top: 6px;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var( --color-primary );
}

.popup-menu__button-close {
    position: absolute;
    top: -52px;
    right: -43px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    font-size: 35px;
    font-style: bold;
    text-shadow: 0px 0px 7px var( --color-primary );
    border-radius: 50%;
    border: solid 2px var( --color-primary );
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
}

@media screen and ( min-width: 1280px ) {

    .popup-menu__content { 
        width: 900px;
        height: 500px;
    }

    .popup-menu__image {
        width: 500px;
        height: 500px;
    }

    .popup-menu__content_text {
        margin: 50px 20px auto 29px;
    }

    .popup-menu__content_text-pet-name {
        margin: 0 0 10px;
        font-size: var( --desktop-h3-font-size );
        color: var( --color-burger-menu );
    }

    .popup-menu__content_text-type-breed {
        margin: 0;
    }

    .popup-menu__content_text-description {
        margin: 40px 0;
        font-size: var( --font-size-h5 );
    }

    .popup-menu__nav > ul {
        row-gap: 11px;
    }
}

@media screen and ( min-width: 768px ) and ( max-width: 1279px ) {
    .popup-menu__content { 
        width: 630px;
        height: 350px;
    }

    .popup-menu__image {
        width: 350px;
        height: 350px;
    }

    .popup-menu__content_text {
        margin: 10px 10px auto;
    }

    .popup-menu__content_text-pet-name {
        margin: 0 0 10px;
        font-size: var( --desktop-h3-font-size );
    }

    .popup-menu__content_text-type-breed {
        margin: 0;
    }

    .popup-menu__content_text-description {
        margin: 20px 0;
        font-size: 13px;
    }

    .popup-menu__nav > ul {
        row-gap: 5px;
    }
}

@media screen and ( max-width: 767px ) {

    .popup-menu__content { 
        width: 240px;
    }

    .popup-menu__image {
        display: none;
    }

    .popup-menu__content_text {
        margin: 10px;
    }

    .popup-menu__content_text-pet-name {
        align-self: center;
        margin: 0 0 10px;
        font-size: var( --desktop-h3-font-size );
    }

    .popup-menu__content_text-type-breed {
        text-align: center;
        margin: 0;
    }

    .popup-menu__content_text-description {
        margin: 20px 0 24px;
        font-size: 13px;
    }

    .popup-menu__nav > ul {
        row-gap: 6px;
    }
}
/*
=============================
        burger menu
=============================
*/
@media screen and ( max-width: 767px) {
    .burger-menu_wrapper {
        position: relative;
        z-index: 1000000;
        display: flex;
        align-items: center;
        margin-right: 33px;
    }

    .burger-menu {
        position: relative;
        width: 30px;
        height: 22px;
        margin: 10px;
        font-size: 0;
        border-top: solid 2px var( --color-burger-menu );
        border-bottom: solid 2px var( --color-burger-menu );
    }

    .burger-menu__middle-line {
        position: absolute;
        top: 10px;
        width: 30px;
        font-size: 0;
        border-top: solid 2px var( --color-burger-menu );
    }

    .burger-menu:hover {
        cursor: pointer;
    }

    .burger-menu__popup {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10000;
        display: none;
        background: #29292960;
    }

    .burger-menu__popup-menu {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100000;
        display: flex;
        justify-content: center;
        width: 320px;
        height: 100vh;
        background-color: var( --color-dark-3xl );
    }

    .burger-menu__popup-menu_logo {
        position: absolute;
        top: 30px;
        left: 10px;
        height: 60px;
    }

    .burger-menu__popup-menu_logo > h1 {
        margin: 0 0 10px;
        color: var( --color-primary );
    }

    .burger-menu__logo-subtitle {
        margin: 0;
        padding-left: 4px;
        font-size: 13px;
        text-align: right;
        line-height: 1.1;
        letter-spacing: 0.1em;
        color: var( --color-light-xl );
    }

    .burger-menu__popup-menu_nav {
        display: flex;
        flex-direction: column;
        margin-top: 248px;
        row-gap: 40px;
        align-self: flex-start;
        align-items: center;
    }

    .burger-menu__popup-menu_nav p {
        font-size: 32px;
        text-align: center;
        color: var( --color-dark-s );
    }

    .burger-menu__popup-menu_link-our-pets > p {
        color: var( --color-light-s );
        border-bottom: solid 3px var( --color-primary );
    }


    .burger-menu__popup-menu_nav > a:hover > p {
        color: var( --color-light-s );
    }
}
/*
=============================
        scrollbar
=============================
*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #ababab;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #ababab;
}
