:root {
    --width-section-above-1280px: 1280px;
    --width-section-768px-1280px: 768px;
    --width-section-320px-768px: 320px;
    --width-sub-section-above-1280px: 1200px;
    --width-sub-section-768px-1280px: 708px;
    --width-sub-section-320px-768px: 300px;

    --mobile-gap-within-sections: 42px;

    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;
    --color-light-xl: #FFFFFF;
    --color-dark-l: #545454;
    --color-dark-m: #B2B2B2;
    --color-dark-s: #CDCDCD;
    --color-dark-xl: #4C4C4C;
    --color-dark-3xl: #292929;

    --foto-width-320px-768px: 260px;

    --font-family-for-titles: 'Georgia', 'Times New Roman', 'Times', serif;
    --font-family-for-paragraph: 'Arial', 'Helvetica', sans-serif;
    --desktop-h3-font-size: 35px;
    --mobile-h3-font-size: 25px;
    --font-size-h5: 15px;
}

h1 {
    font-family: var( --font-family-for-titles );
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.06em;
}

h2 {
    font-family: var( --font-family-for-titles );
    font-size: 44px;
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
    letter-spacing: 0.06em;
}

h3 {
    font-family: var( --font-family-for-titles );
    font-weight: 400;
    font-style: normal;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var( --color-dark-l );
}

h4,
.text-like-h4-title {
    font-family: var( --font-family-for-titles );
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: 0.06em;
}

h5 {
    font-family: var( --font-family-for-titles );
    font-size: var( --font-size-h5 );
    font-weight: 400;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0.06em;
    color: var( --color-dark-l );
}

p {
    margin: 0;
    font-family: var( --font-family-for-paragraph );
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
}

a {
    font-family: var( --font-family-for-paragraph );
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    text-decoration: none;
}

button,
.button {
    font-family: var( --font-family-for-titles );
    cursor: pointer;
    transition: 100ms;
}

.button-primary {
    box-sizing: border-box;
    height: 52px;
    background: var( --color-primary );
    border-radius: 100px;
    border: none;
}

.button-secondary {
    width: 187px;
    height: 52px;
    border: 2px solid var( --color-primary );
    border-radius: 100px;
    background-color: transparent;
}

.button-primary:hover,
.button-secondary:hover,
.paginator-right:hover,
.button-arrow:hover,
.link-credit-card:hover {
    background-color: var( --color-primary-light );
    border: none;
}

.button-primary:active,
.button-secondary:active {
    background: linear-gradient( to top, var( --color-primary-light ), 80%, #FFF3EA );
}

.button-primary > span,
.button-secondary > span {
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    color: #292929;
    letter-spacing: 0.06em;
}

.button-paginator {
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid var( --color-dark-s );
    border-radius: 26px;
    background-color: transparent;
}

.paginator-right:active,
.button-arrow:active {
    background: linear-gradient( to right, #FDDCC4, 80%, #FFE9D8 );
}

.left-arrow:active {
    background: linear-gradient( to left, var( --color-primary-light ), 50%, #FFE9D8 );
}

.button-paginator > span {
    font-size: 17px;
    color: var( --color-dark-3xl );
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #646464;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #e7e7e7;
}